# Add any directories, files, or patterns you don't want to be tracked by version control

# Windows and OSX Specific System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.swp
ehthumbs.db
Thumbs.db
Icon\?

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Test coverage reports
coverage

# Distribution Directory
dist/*

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# VS Code Counter Extension
.VSCodeCounter

# Rollup Visualizer
stats.html

# Private working notes
notes/

# Temp folder
temp

# ignore non-npm lockfiles
pnpm-lock.yaml
yarn.lock
