# Windows and OSX Specific System Files
.DS_Store

# dotenv environment variable files
.env

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Test coverage reports
coverage

# Distribution Directory
/dist

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

# VS Code Counter Extension
.VSCodeCounter

# Private working notes
/notes

# Temp folder
temp

# esbuild meta
/meta

# ignore non-npm lockfiles
pnpm-lock.yaml
yarn.lock

# wip
/apps/*/public/lib
/packages/basis
